.pollution-parameters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .pollution-parameter-list {
    .pollution-parameter-name {
      width: 100px;
      height: 80px;
      margin: 20px;
      transition: .5s;
      &:hover {
        cursor: pointer;
        transform: scale(1.3);
      }
    }
  }
  .pollution-parameter-list{
    .selected {
      border: 1px solid black;
      border-radius: 5px;
      transform: scale(1.3);
      padding: 10px;
      font-weight: bold;
      transition: .6s;
      background-color: lighten(#8cd1f0, 10%);
    }
  }
}

::ng-deep .pollution-parameter-tooltip {
  font-size: 20px;
}

.pollution-parameters-info {
  display: flex;
  justify-content: space-around;

  app-page-information {
    width: 50%;
  }
}
