<section class="pollution-parameters">
  <h3>Select the parameter to get to know the ten most polluted cities.</h3>
  <p>The data is displayed based on the average of the last measurements from the current month.</p>
  <h3>List of Pollution Parameters</h3>
  <div class="parameter-list">
    <div class="parameter-name" *ngFor="let parameter of pollutionParameters"
         [class.selected]="parameter.id === selectedParameter"
         (click)="onParameterSelect(parameter.id)">
      <a>{{parameter.name}} <span>{{parameter.description}}</span></a>
    </div>
  </div>
</section>
