.pollution-parameters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
 mat-card-header {
   mat-card-subtitle {
     padding: 5px 0;
   }
 }
  .parameter-list {
    flex-direction: column;
    .parameter-name {
      margin: 10px;
      transition: .5s;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
  .parameter-list{
    .selected {
      border: 1px solid black;
      border-radius: 5px;
      transform: scale(1.2);
      padding: 10px;
      font-weight: bold;
      transition: .6s;
      background-color: aliceblue;
    }
  }

}
