<section class="pollution-parameters">
  <mat-card-header>
    <mat-card-title>Select the parameter to get to know the top ten most polluted cities.</mat-card-title>
    <mat-card-subtitle>The data is displayed based on the average of the last measurements from the current month.</mat-card-subtitle>
  </mat-card-header>
  <div class="parameter-list">
    <button mat-raised-button class="parameter-name" *ngFor="let parameter of pollutionParameters"
         [class.selected]="parameter.id === selectedParameter"
         (click)="onParameterSelect(parameter.id)"
         [matTooltip]="parameter.description">
         {{parameter.name}}
    </button>
  </div>
</section>
