.city-pollution-container {
  mat-card.city-name {
    text-align: center;
    width: 20%;
    margin: 20px auto;
    background-color: lighten(#8cd1f0, 10%);
    mat-card-title {
      font-size: 2rem;
    }
  }
  div.location-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    mat-card {
      margin: 18px;
      font-size: 1.4rem;
      padding: 10px;
      background-color: lighten(#8cd1f0, 10%);
      .measurements {
        margin-top: 10px;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        padding: 5px;
        span:first-child {
          font-weight: bold;
        }
        span:last-child {
          font-size: .7em;
        }
      }
    }
  }
}
.spinner{
  display: flex;
  justify-content: center;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  mat-card {
    text-align: center;
    width: 80%;
  }
}
