.city-pollution-container {
  h2 {
    text-align: center;
    font-size: 2rem;
  }
  div.location-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    mat-card {
      margin: 18px;
      font-size: 1.4rem;
      padding: 10px;
      background-color: lighten(#8cd1f0, 10%);
      .measurements {
        margin-top: 10px;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        padding: 5px;
        span:first-child {
          font-weight: bold;
        }
        span:last-child {
          font-size: 1rem;
        }
      }
    }
  }
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  mat-card {
    text-align: center;
    width: 80%;
  }
}
