.city-pollution-container {
  h2 {
    text-align: center;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      margin: 15px 30px;
      list-style: none;
      font-size: 1.2rem;
      border-radius: 5px;
      padding: 10px;
      background-color: lighten(#AFD4D7, 5%);
      box-shadow: 0 1px 1px 0 lighten(#373536, 20%);
      .measurements {
        margin-top: 10px;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        padding: 5px;
        span:last-child {
          font-size: .8rem;
        }
      }
    }
  }
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  mat-card {
    text-align: center;
    background-color: lighten(#AFD4D7, 5%);
    width: 80%;
  }
}
