<div *ngIf="cityData" class="city-pollution-container">
  <app-air-quality-index></app-air-quality-index>
  <h2>{{cityId}}</h2>
  <ul>
    <li *ngFor="let city of cityData">{{city.location}}
      <div class="measurements" *ngFor="let measurements of city.measurements"
           [ngStyle]="getColor(measurements.parameter, measurements.value)">
        <span>
            {{measurements.parameter.replace("pm25", "pm2.5") | uppercase}}
            {{measurements.value.toFixed(2)}}
            {{measurements.unit}}
       </span>
        <span>Measurement time:
            {{measurements.lastUpdated.slice(0, 16).replace("T", " ")}}
       </span>
      </div>
    </li>
  </ul>
</div>

<div class="error-message" *ngIf="noMeasurementsAlertFlag">
  <mat-card>
  <h1>Sorry</h1>
  <h2>Currently we don't have latest measurements from this location.</h2>
  </mat-card>
</div>
