<div class="city-pollution-container">
  <app-air-quality-index></app-air-quality-index>
  <mat-card class="city-name">
    <mat-card-title>{{cityId}}</mat-card-title>
  </mat-card>
  <div *ngIf="cityData && apiResponseFlag" class="location-list">
    <mat-card *ngFor="let city of cityData">{{city.location}}
      <div class="measurements" *ngFor="let measurements of city.measurements"
           [ngStyle]="this.pollutionSortService.getAirQualityIndexColor(measurements.parameter, measurements.value)">
        <span>
            {{measurements.parameter.replace("pm25", "pm2.5") | uppercase}}
            {{measurements.value.toFixed(2)}}
            {{measurements.unit}}
       </span>
       <span>Measurement time
            {{measurements.lastUpdated | date: 'yyyy-MM-dd HH:mm'}}
       </span>
      </div>
    </mat-card>
  </div>
</div>

<div class="spinner">
<mat-spinner color="warn" *ngIf="!apiResponseFlag"></mat-spinner>
</div>

<div class="error-message" *ngIf="noMeasurementsAlertFlag && apiResponseFlag">
  <mat-card>
  <h1>Sorry</h1>
  <h2>Currently we don't have latest measurements from this location.</h2>
  </mat-card>
</div>
