@import "../../styles/variables";

mat-card {
  background-color: $main-background-color;
  margin: 0 20px;

  @for $i from 1 through length($air-quality-index-color) {
    button:nth-of-type(#{$i}) {
      background-color: nth($air-quality-index-color, $i);
      width: 20%;
    }
  }
}

p {
  padding: 0 10px;
}
