<mat-card>
  <mat-card-header>
    <mat-card-title>Air Quality Index</mat-card-title>
    <mat-card-subtitle>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, perferendis.</mat-card-subtitle>
  </mat-card-header>

  <button mat-button mat-raised-button [matMenuTriggerFor]="VeryLowInfo">Very low</button>
  <mat-menu #VeryLowInfo="matMenu" yPosition="above">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque ducimus ex nisi nobis odit, saepe. A beatae cumque ducimus maxime perspiciatis, qui sunt suscipit voluptate? Dolorem numquam pariatur vel!</p>
  </mat-menu>

  <button mat-button mat-raised-button [matMenuTriggerFor]="lowInfo">Low</button>
  <mat-menu #lowInfo="matMenu" yPosition="above">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque ducimus ex nisi nobis odit, saepe. A beatae cumque ducimus maxime perspiciatis, qui sunt suscipit voluptate? Dolorem numquam pariatur vel!</p>
  </mat-menu>

  <button mat-button mat-raised-button [matMenuTriggerFor]="mediumInfo">Medium</button>
  <mat-menu #mediumInfo="matMenu" yPosition="above">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque ducimus ex nisi nobis odit, saepe. A beatae cumque ducimus maxime perspiciatis, qui sunt suscipit voluptate? Dolorem numquam pariatur vel!</p>
  </mat-menu>

  <button mat-button mat-raised-button [matMenuTriggerFor]="highInfo">High</button>
  <mat-menu #highInfo="matMenu" yPosition="above">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque ducimus ex nisi nobis odit, saepe. A beatae cumque ducimus maxime perspiciatis, qui sunt suscipit voluptate? Dolorem numquam pariatur vel!</p>
  </mat-menu>

  <button mat-button mat-raised-button [matMenuTriggerFor]="veryHighInfo">Very high</button>
  <mat-menu #veryHighInfo="matMenu" yPosition="above">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque ducimus ex nisi nobis odit, saepe. A beatae cumque ducimus maxime perspiciatis, qui sunt suscipit voluptate? Dolorem numquam pariatur vel!</p>
  </mat-menu>
</mat-card>
