.very-low-index {
  background-color: #79bc6a;
}

.low-index {
  background-color: #bbcf4c;
}

.medium-index {
  background-color: #eec20b;
}

.high-index {
  background-color: #f29305;
}

.very-high-index {
  background-color: #e8416f;
}

