@import "../../styles/variables";

mat-card {
  margin: 0 10px;
  background-color: $main-background-color;

  mat-list-item {
    h4 {
      font-weight: bold;
    }
  }
}
mat-card.spinner{
  display: flex;
  justify-content: center;
}
