.most-polluted-cities {
  .cities-list {
    .city {
      width: 50%;
      transition: .4s;
      background-color: lighten(#8cd1f0, 10%);
      margin: 5px 20px;
      border-radius: 5px;
      &:hover {
        background-color: #8cd1f0;
        transform: scale(1.03);
      }
    }
  }
}
