@import "~src/app/variables";

mat-card {
  background-color: $main-background-color;
  .cities-list {
    .city {
      transition: .4s;
      margin: 2px 0;
      border-radius: 5px;
      background-color: #ffffff;
      &:hover {
        background-color: #8cd1f0;
        transform: scale(1.03);
      }
    }
  }
}


