.map-sidenav-container {
  margin: 0 20px;
  mat-sidenav {
    width: 300px;
    button {
      margin: 30px;
      width: 50%;
      background-color: lighten(#8cd1f0, 10%);
    }

  }
  height: 89vh;
  div {
    height: 100%;
  }
}
