.main-container {
  height: 100vh;
  mat-drawer {
    width: 12%;
  }
      mat-drawer-content {
      background-image: url("../assets/img/AdobeStock_59555445.jpeg");
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

