<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="home">
        <mat-icon matListIcon>home</mat-icon>
        <h3 mat-line>Dashboard</h3>
      </a>
      <a mat-list-item routerLink="city">
        <mat-icon matListIcon>search</mat-icon>
        <h3 mat-line>City Search</h3>
      </a>
      <a mat-list-item routerLink="parameters">
        <mat-icon matListIcon>grain</mat-icon>
        <h3 mat-line>Parameters</h3>
      </a>
      <a mat-list-item routerLink="map">
        <mat-icon matListIcon>map</mat-icon>
        <h3 mat-line>Map</h3>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-page-header></app-page-header>
    <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
