.container {
  max-width: 1800px;
  display: flex;
  justify-content: space-around;
  .city-search {
    flex-direction: column;
    width: 70%;
  }
  .most-polluted-search {
    background-color: lighten(#AFD4D7, 5%);
  }
}
