form {
  display: flex;
  justify-content: center;
  mat-form-field {
    width: 300px;
    input {
      font-size: 2rem;
    }
  }
  button {
    background-color: lighten(#8cd1f0, 10%);
    margin: 10px;
  }
}
