<form [formGroup]="cityForm">
  <mat-form-field>
      <input type="text" matInput placeholder="Choose City"
             formControlName="cityGroup" [matAutocomplete]="autoGroup" aria-label>
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-optgroup *ngFor="let group of cityGroupOptions | async" [label]="group.letter">
        <mat-option *ngFor="let name of group.names" [value]="name">
          {{name}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
  <ng-container *ngIf="cityForm">
    <button mat-button mat-raised-button routerLink="/city/{{cityForm.get('cityGroup').value}}"
            (click)="this.topCitiesChoiceService.cityChoice(cityForm.get('cityGroup').value)"
            *ngIf="this.inputAutocompleteService.cityNames"
            [disabled]="!this.inputAutocompleteService.cityNames.includes(cityForm.get('cityGroup').value)">Check Pollution</button>
  </ng-container>
</form>
<router-outlet></router-outlet>
