form {
  display: flex;
  justify-content: center;
  mat-form-field {
    width: 250px;
    // font-family: 'Ropa Sans', sans-serif;
    input {
      font-size: 1.3rem;
    }
  }
  button {
    background-color: lighten(lightblue, 10%);
    margin: 10px;
  }
}
