@import "~src/app/variables";

form {
  display: flex;
  justify-content: center;
  mat-form-field {
    width: 300px;
    input {
      font-size: 2rem;
    }
  }
  button {
    background-color: $main-background-color;
    margin: 10px;
  }
}
