<form [formGroup]="cityForm">
  <mat-form-field>
    <label>
      <input type="text" matInput placeholder="Choose City"
             formControlName="cityGroup" required [matAutocomplete]="autoGroup" [(ngModel)]="cityName">
    </label>
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-optgroup *ngFor="let group of cityGroupOptions | async" [label]="group.letter">
        <mat-option *ngFor="let name of group.names" [value]="name">
          {{name}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-button mat-raised-button routerLink="/city/{{cityName}}"
          (click)="this.topCitiesChoiceService.cityChoice(cityName)"
          *ngIf="this.inputAutocompleteService.cityNames"
          [disabled]="!this.inputAutocompleteService.cityNames.includes(cityName)">Check Pollution</button>
</form>
<router-outlet></router-outlet>
