mat-card {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .input-without-validation {
      width: 48%;
    }
    .date-picker {
      width: 48%;
    }
    mat-hint {
      width: 98%;
    }
    .transport-toggle-button {
      width: 98%;
      margin-bottom: 25px;
      mat-button-toggle {
        width: 16.5%;
      }
    }
    .input-with-validation {
      width: 48%;
    }
    button {
      width: 98%;
    }
  }
}
