<div class="pollution-parameters">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, vel.</mat-card-title>
      <mat-card-subtitle>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, magni.</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <div class="pollution-parameter-list">
    <button mat-raised-button class="pollution-parameter-name" *ngFor="let pollutionParameter of pollutionParameters"
            [class.selected]="pollutionParameter.id === selectedParameter"
            (click)="onParameterSelect(pollutionParameter.id)"
            [matTooltip]="pollutionParameter.description"
            matTooltipClass="pollution-parameter-tooltip"
            routerLink="{{pollutionParameter.id}}">
      {{pollutionParameter.name}}
    </button>
  </div>
</div>
<div class="pollution-parameter-info">
<!-- #canDoBetter na początku nie wiedziałem, że jest spory problem aby przekazywać dane do child path router-outlet
  dlatego takie rozbicie na child component i router-outlet-->
  <app-pollution-parameter-information *ngIf="selectedParameter" [pollutionParameterInfo]="pollutionParameterInformation"></app-pollution-parameter-information>
  <router-outlet *ngIf="selectedParameter"></router-outlet>
</div>


