<form (ngSubmit)="registerFormService.onRegisterSubmit(registerForm)" [formGroup]="registerForm">
  <mat-button-toggle-group #group="matButtonToggleGroup"
  formControlName="transport">
    <mat-button-toggle value="walk">
      <mat-icon>directions_walk</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="bike">
      <mat-icon>directions_bike</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="car">
      <mat-icon>directions_car</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="bus">
      <mat-icon>directions_bus</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="tram">
      <mat-icon>tram</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="subway">
      <mat-icon>subway</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="train">
      <mat-icon>train</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Your birth date" formControlName="birthDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Home Town</mat-label>
    <label>
      <input matInput placeholder="Enter your home town" formControlName="homeTown">
    </label>
  </mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Name</mat-label>
  <label>
    <input matInput placeholder="Enter your name" formControlName="name">
  </label>
</mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Surname</mat-label>
    <label>
      <input matInput placeholder="Enter your surname" formControlName="surname">
    </label>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>User Name</mat-label>
    <label>
      <input matInput placeholder="Enter your user name" formControlName="userName" required>
    </label>
    <mat-error *ngIf="registerForm.invalid">{{getUserNameErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <label>
      <input matInput placeholder="Enter your email" formControlName="email" required>
    </label>
    <mat-error *ngIf="registerForm.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <label>
      <input matInput placeholder="Enter your password" [type]="hidePrimary ? 'password' : 'text'" formControlName="password" required>
    </label>
    <button mat-icon-button matSuffix (click)="hidePrimary = !hidePrimary" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePrimary">
      <mat-icon>{{hidePrimary ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="registerForm.invalid">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <label>
      <input matInput placeholder="Confirm Password" [type]="hideSecondary ? 'password' : 'text'" formControlName="confirmPassword" required [errorStateMatcher]="matcher">
    </label>
    <button mat-icon-button matSuffix (click)="hideSecondary = !hideSecondary" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideSecondary">
      <mat-icon>{{hideSecondary ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="registerForm.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit">Submit</button>
</form>
