<mat-card>
  <mat-card-header>
    <mat-card-title>Most Polluted</mat-card-title>
    <mat-card-subtitle>Top ten cities by the parameter</mat-card-subtitle>
    <mat-card-subtitle>The data is displayed based on the average of the last measurements from the current month.</mat-card-subtitle>
  </mat-card-header>
  <div class="spinner">
  <mat-spinner color="warn" *ngIf="!loadingFlag"></mat-spinner>
  </div>
<mat-nav-list class="cities-list" *ngIf="loadingFlag">
    <a mat-list-item class="city" *ngFor="let city of mostPollutedByParameter let i = index"
    routerLink="../../city/{{city.name}}"
    [matTooltip]="'Check the latest measurements from this location.'"
    (click)="this.dashboardTopCitiesService.cityChoice(city.name)"
    [ngStyle]="pollutionSortService.getAirQualityIndexColor(pollutionParameterId, city.measurementAvg)">
     {{i + 1}}.
     {{city.name}}
     {{city.measurementAvg.toFixed(2)}}
     µg/m³
    </a>
</mat-nav-list>
</mat-card>

