@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans:400,400i&display=swap&subset=latin-ext');
body {
  margin: 0 auto;
  box-sizing: border-box;
  // font-family: 'Ropa Sans', sans-serif;
  background-color: #AFD4D7;
}
