.test {
  width: 200px;
  height: 200px;
  background-color: #e8416f;
}
button {
  font-size: 1.3rem;
  width: 150px;
  height: 80px;
  position: absolute;
  transform: translate(-50%);
  bottom: 150px;
  left: 50%
}
